'bin/' 
'obj/' 
'node_modules/' 
/src/backend/AIPoweredBlogPortfolio.API/.vs/AIPoweredBlogPortfolio.API
/.vs/AI-Powered-Blog-Portfolio
/.vs
/src/backend/AIPoweredBlogPortfolio.API/AIPoweredBlogPortfolio.API/obj
*.user
*.http
/src/backend/AIPoweredBlogPortfolio.API/.vs/ProjectEvaluation
/src/backend/AIPoweredBlogPortfolio.API/AIPoweredBlogPortfolio.API/bin
/src/backend/AIPoweredBlogPortfolio.API/AIPoweredBlogPortfolio.API/.config
/src/backend/AIPoweredBlogPortfolio.Backend/.vs/AIPoweredBlogPortfolio.Backend
/src/backend/AIPoweredBlogPortfolio.Backend/AIPoweredBlogPortfolio.Admin/obj
/src/backend/AIPoweredBlogPortfolio.Backend/.vs/ProjectEvaluation
/src/backend/AIPoweredBlogPortfolio.Backend/AIPoweredBlogPortfolio.Admin/bin/Debug/net9.0
/src/backend/AIPoweredBlogPortfolio.Backend/.vs/CopilotSnapshots/B9A100E920A7684496E1F3C838A0F457
