@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<div class="container-fluid">
    <AuthorizeView>
        <Authorized>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Admin Dashboard</a>
            </nav>

            <p>Hello, @context.User.Identity?.Name!</p>
            <button class="btn btn-danger" type="button" @onclick="Logout">Log Out</button>

        </Authorized>
    </AuthorizeView>

    <div class="row">
        <AuthorizeView>
            <Authorized>
                <div class="col-md-2 bg-light sidebar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="users">Users</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="settings">Settings</NavLink>
                        </li>
                    </ul>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="col-md-10">
            @Body
        </div>
    </div>
</div>

@code {
    private void Logout()
    {
        Navigation.NavigateTo("/logout", true);
    }
}